@import url("../fonts//DMSans.css");

.designers {
    background-color: #1b1b1b;
    height: 800px;
    color: #fff;
    font-family: 'Roboto';
}

.subTituloDesgner {
    color: red;
}

.conteudoInicialDesigner {
    display: flex;
}