@import url("../fonts//DMSans.css");

.designers {
    background-color: #1b1b1b;
    height: 800px;
    color: #fff;
    font-family: 'Roboto';
    padding-top: 5rem;
    padding-left: 5rem;
}

.subTituloDesgner {
    color: #fff;
    font-size: 70px;
}

.conteudoInicialDesigner {
    display: flex;
    padding-left: 5rem;
    gap: 410px;
}

.paragrafoDescricaoDesgnerIdeas {
    line-height: 30px;
    font-size: 20px;
    padding-top: 2.5rem;
}


.desinerAreasDemostracao {
    display: flex;
    /* torna o container flexível */
    justify-content: space-between;
    /* espaça igualmente as divs */
    gap: 40px;
    /* espaço fixo entre as divs */
}

.divs {
    height: 100px;
    width: 100px;
    /* importante para ver o efeito do espaço */
    background-color: #252525;
}