@import url("../fonts//DMSans.css");

.designers {
    background-color: #1b1b1b;
    height: 800px;
    color: #fff;
    font-family: 'Roboto';
    padding-top: 5rem;
}

.subTituloDesgner {
    color: red;
    font-size: 40px;
}

.conteudoInicialDesigner {
    display: flex;
    padding-left: 5rem;
    gap: 40px;
}