.FaixaSeparandoConteudo2 {
    background-color: #FF7B69;
    height: 190px;
    padding-left: 15rem;
    display: flex;
}

.tituloSeparandoConteudo {
    color: #fff;
    font-size: 40px;
    padding-top: 5rem;
}

.listaDosbtns {
    display: flex;
    padding-left: 5rem;
    gap: 30px;
}

.listaLinksDosBtns {
    list-style: none;
    padding-top: 5rem;
}



.btnLeranMore {
    background-color: transparent;
    /* Fundo transparente */
    border: 2px solid #fff;
    /* Borda branca */
    color: #fff;
    /* Texto branco */
    padding: 10px 20px;
    /* Preenchimento interno */
    font-size: 16px;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Muda o cursor para um ponteiro ao passar o mouse */
    border-radius: 5px;
    /* Cantos levemente arredondados */
}

/* Efeito ao passar o mouse (opcional) */
.btnLeranMore:hover {
    background-color: #fff;
    /* Fundo branco ao passar o mouse */
    color: #000;
    /* Texto preto ao passar o mouse */
}


.btnContact {
    background-color: black;
    /* Fundo preto */
    color: white;
    /* Texto branco */
    border: 2px solid white;
    /* Borda branca para destacar no fundo */

    /* Propriedades para torná-lo quadrado */
    width: 120px;
    height: 120px;

    /* Reset de estilos padrão */
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    transition: 0.3s;
    /* Suaviza efeitos de hover */
}

/* Opcional: Efeito ao passar o mouse */
.btnContact:hover {
    background-color: white;
    color: black;
}