.FaixaSeparandoConteudo2 {
    background-color: #FF7B69;
    height: 190px;
    padding-left: 15rem;
    display: flex;
}

.tituloSeparandoConteudo {
    color: #fff;
    font-size: 40px;
    padding-top: 5rem;
}

.listaDosbtns {
    display: flex;
    padding-left: 5rem;
    gap: 30px;
}

.listaLinksDosBtns {
    list-style: none;
    padding-top: 5rem;
}



.btnLeranMore {
    background-color: transparent;
    color: white;
    border: 2px solid white;

    /* Ajuste para formato Retangular */
    width: 180px;
    /* Aumentamos a largura */
    height: 50px;
    /* Diminuímos a altura para parecer um botão padrão */

    /* Reset de estilos padrão */
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    transition: 0.3s;

    /* Remove bordas arredondadas se o navegador aplicar por padrão */
    border-radius: 0;
}

/* Efeito ao passar o mouse (opcional) */
.btnLeranMore:hover {
    background-color: #fff;
    /* Fundo branco ao passar o mouse */
    color: #000;
    /* Texto preto ao passar o mouse */
}


.btnContact {
    background-color: black;
    color: white;
    border: 2px solid white;

    /* Ajuste para formato Retangular */
    width: 180px;
    /* Aumentamos a largura */
    height: 50px;
    /* Diminuímos a altura para parecer um botão padrão */

    /* Reset de estilos padrão */
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    transition: 0.3s;

    /* Remove bordas arredondadas se o navegador aplicar por padrão */
    border-radius: 0;
}

/* Efeito ao passar o mouse */
.btnContact:hover {
    background-color: white;
    color: black;
}