.FaixaSeparandoConteudo2 {
    background-color: #FF7B69;
    height: 190px;
    padding-left: 5rem;
    display: flex;
}

.tituloSeparandoConteudo {
    color: #fff;
    font-size: 40px;
}

.listaDosbtns {
    display: flex;
}

.listaLinksDosBtns {
    list-style: none;
}