@import url(../fonts//Figtree.css);

.faixa {
    background-color: #FF7B69;
    height: 500px;
    /* O transform move a faixa para cima da imagem se necessário */
    transform: translate(0, -50px);
    /* Removido o 'px', definido como posição relativa e z-index menor que a seção anterior */
    position: relative;
    z-index: 1;
}

.conteudoDaFaixaLaranja {
    font-family: "Figtree";
    color: #fff;
    font-size: 30px;
    padding-top: 15rem;
    padding-left: 40rem;
}

.listaSectionFaixaNaTela {
    display: flex;
    padding-top: 3rem;
}

.listaSectionFaixaNaTela li {
    list-style-type: none;
}

.listaSectionFaixaNaTela li a {
    text-decoration: none;
}