@import url(../fonts/Figtree.css);

.tituloFocoDaEmpresa {
    font-size: 80px;
    padding-left: 10rem;
    font-family: "Figtree";
    margin-bottom: 50px;
    transform: translate(0px, 101px);
    padding-left: 20rem;
}

/* Container principal para as seções */
.secao-flex {
    display: flex;
    align-items: center;
    /* Alinha verticalmente no centro */
    justify-content: space-around;
    padding: 2rem 10rem;
    gap: 50px;
}

.secao-flex.reverse {
    flex-direction: row-reverse;
}

.texto {
    flex: 1;
}

.imagem {
    flex: 1;
}

.imagem img {
    max-width: 100%;
    height: auto;
    display: block;
}

.paragrafoFocoDaEmrpesa {
    font-size: 30px;
}