@import url("../fonts/DMSans.css");

.footer {
    background-color: #FDF8F3;
    height: 400px;
    display: flex;
    padding: 3rem;
}

.linksRedesSociais {
    display: flex;
    padding-top: 1rem;
    gap: 20px;
}

.paragrafoFooter {
    color: #595959;
    font-family: 'Roboto';
    font-size: 25px;
}

.listaItemRedesSociais {
    list-style-type: none;

}

.itemListaRedesSociais {
    color: #595959;
    font-size: 20px;
}

.listaRedesSociais {
    padding-top: 10rem;
}

.listaDetodasAsCategorias {
    display: flex;

    gap: 120px;
}

.categorias h3 {
    text-align: left;
    margin-bottom: 1rem;
}

.listaDetodasAsCategorias li {
    list-style-type: none;
    text-align: left;
    /* Alinha o texto à esquerda */
    margin-bottom: 0.5rem;
    /* Opcional: adiciona um espaço entre os links */
}

.listaDetodasAsCategorias li a {
    text-decoration: none;
    color: #595959;
    /* Cor padrão para os links */
}

.categorias {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.listaDetodasAsCategorias, .categorias, h3{
    padding-left: 5rem;
}