@import url("../fonts/DMSans.css");

.footer {
    background-color: #FDF8F3;
    height: 400px;
    display: flex;
    padding: 3rem;
}

.linksRedesSociais {
    display: flex;
    padding-top: 1rem;
}

.paragrafoFooter {
    color: #595959;
    font-family: 'Roboto';
    font-size: 20px;
}

.listaItemRedesSociais{
    list-style-type: none;
}

.itemListaRedesSociais {
    color: #595959;
}