@import url("../fonts/DMSans.css");

.footer {
    background-color: #FDF8F3;
    height: 400px;
    display: flex;
    padding: 3rem;
}

.linksRedesSociais {
    display: flex;
}

.paragrafoFooter{
    color: #595959;
}