.header {
    background-color: #1b1b1b;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 20px;
    padding-left: 7rem;
}

.headerMenu {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.linkListaHeader {
    color: #fff;
    text-decoration: none;
}

.movimentacaobtn {
    display: flex;
}