.header {
    background-color: #1b1b1b;
    padding-top: 1rem;
    padding-bottom: 11rem;
    display: flex;
    gap: 20px;
    padding-left: 7rem;

}

.headerMenu {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-left: 25rem;
    padding-top: 0.5rem;
}

.linkListaHeader {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.movimentacaobtn {
    display: flex;
    padding-left: 50rem;
}

.btnContactUs {
    background-color: #ff7b69;
    color: white;
    /* Cor do texto */
    border: none;
    /* Remove borda padrão */
    padding: 15px 20px;
    /* Espaçamento interno */
    cursor: pointer;
    /* Muda o cursor ao passar o mouse */
    width: 150px;
}