.header {
    background-color: #1b1b1b;
    padding: 2rem 7rem;
    /* Espaçamento interno nas laterais e topo */
    display: flex;
    flex-direction: column;
    /* Força os elementos a ficarem um abaixo do outro */
    min-height: 80vh;
    /* Faz o header ter uma altura boa */
}

/* Esta div segura o Logo, Menu e Botão em uma linha só */
.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Espalha os itens: Logo na esquerda, Botão na direita */
    width: 100%;
    margin-bottom: 5rem;
    /* Cria espaço entre o menu e o texto abaixo */
}

.headerMenu {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.linkListaHeader {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.btnContactUs {
    background-color: #ff7b69;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btnContactUs:hover {
    background-color: #e06a5a;
}

/* ESTILIZAÇÃO DO CONTEÚDO ABAIXO DO MENU */
.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudoimagem {
    display: flex;
}

.conteudoEscrito h1 {
    color: white;
    font-size: 4rem;
    /* Texto grande e impactante */
    max-width: 600px;
    line-height: 1.2;
}

.paragrafoHeader {
    color: #fff;
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.divConteudoImgParte1 {
    gap: 20px;
}